body {
  margin: 0;
  padding: 0 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  --title-size: 32px;
  --h2-size: 26px;
  --body-size: 18px;
  --caption-size: 16px;
  --header-size: 22px;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--title-size);
}
h2 {
  font-size: var(--h2-size);
}
h3, h4, h5, h6 {
  font-size: var(--header-size);
}
.caption, .secondary, .caption-text {
  font-size: var(--caption-size);
  color: #888;
}

@media (min-width: 600px) {
  body {
    padding: 0 32px;
  }
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none !important;
  }
}

@media (min-width: 900px) {
  .about-avatar {
    width: 240px !important;
    height: 240px !important;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
